.post-meta {
  margin: 1.5rem 0 1.5rem 0 !important;
}

.post-avatar {
  margin-right: 0.5rem;
}

.post-avatar--success {
  border: 2px solid #36c31d;
  padding: 3px;
}

.post-author {
  font-family: Segoe UI;
  font-weight: 600;
}

.post-label {
  margin-left: 1.5rem !important;
  position: absolute;
}

.post-age {
  font-family: Segoe UI;
  font-weight: normal;
  font-size: 14px;
  color: rgb(140, 140, 140);
}
