:root {
  --primary-color: rgb(100, 0, 228);
  --primary-color-hover: rgb(126, 26, 254);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  /* position: relative; */
}

body {
  color: #222;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* CONTAINERS */

#root {
  height: 100%;
}

.main-container {
  height: 100%;
}

.main-content {
  min-height: calc(100% - 80px);
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px 0;
}

.main-content--center {
  display: flex;
  align-items: center;
}

/* NAVIGATION */

.navbar-wrapper {
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.navbar {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 75px;
  font-family: "Cabin", sans-serif;
  /* text-transform: uppercase; */
}

.navbar__title {
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
}

.navbar__items {
  margin-left: auto;
  list-style-type: none;
  display: flex;
}

.navbar__item {
  margin-left: 30px;
}

.navbar__link {
  text-decoration: none;
  color: #333;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease-out;
  position: relative;
}

.navbar__link:hover {
  color: var(--primary-color);
}

.navbar__link::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -10px;
  transform: scaleX(0);
  transition: transform 0.1s ease-out;
}

.navbar__link:hover::after {
  transform: scaleX(1);
}

/* FORM */

.form {
  width: 400px;
  margin: 0 auto;
}

.form p {
  font-size: 0.95rem;
  color: #484848;
}

.form__header {
  /* text-align: center; */
  margin-bottom: 35px;
}

.form__header h1 {
  margin-bottom: 10px;
}

.form__group {
  margin-bottom: 20px;
}

.form__label {
  margin-bottom: 10px;
  display: block;
  color: #484848;
}

.form__input {
  width: 100%;
  padding: 12px 12px;
  border-radius: 3px;
  border: 1px solid #ddd;
  font-size: 0.9rem;
  transition: border-color 0.3s ease;
}

.form__input:focus {
  border-color: var(--primary-color);
}

.form__input:invalid {
  box-shadow: none;
  border-color: #ec5f5f;
}

.form__helper {
  display: block;
  margin-top: 7px;
  font-size: 0.9rem;
  color: #ec5f5f;
  opacity: 1;
  transition: all 0.1s ease-in-out;
}

.form__helper:empty {
  margin-top: 0;
  opacity: 0;
}

.form__info {
  margin-top: 35px;
}
.fl {
  display: flex;
}
.form__radio-info {
  margin-bottom: 15px;
  font-size: 1rem;
}

.form__radio-label {
  color: #444;
  font-size: 0.95rem;
  display: block;
  margin-bottom: 7px;
  width: 50%;
}

.form__radio {
  margin-right: 7px;
  position: relative;
  top: 1px;
}

/* BUTTON */

.btn {
  border: none;
  padding: 12px 20px;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;

  background-color: var(--primary-color);
  color: white;
  width: 100%;
}

.btn:hover {
  background-color: var(--primary-color-hover);
}

/* LINK */

.link {
  color: #2e4a99;
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid #2e4a99;
}
