:root {
  --primary-color: rgb(100, 0, 228);
  --primary-color-hover: rgb(126, 26, 254);
  --error-color: #ec5f5f;
}

html,
body {
  height: 100%;
}

/* TODO: Remove */
#root {
  height: 100%;
}

/* TODO: Remove */
.main-container {
  height: 100%;
}

.main-content {
  min-height: calc(100% - 50px);
}

/* FORM */

.form {
  max-width: 400px !important;
  margin: 0 auto;
}

.form__helper {
  display: block;
  color: var(--error-color);
  margin-top: 7px;
  opacity: 1;
  transition: all 0.1s ease-in-out;
}

.form__helper:empty {
  margin-top: 0;
  opacity: 0;
}

.ui.form input:focus {
  border-color: var(--primary-color) !important;
}

.ui.form input:invalid {
  border-color: var(--error-color) !important;
}

.ui.form .fields > .field {
  flex: 1 1 auto;
}

.fields--radio {
  display: block !important;
}

.fields--radio .field {
  margin-bottom: 10px !important;
}

.fields--radio .field:first-of-type {
  margin-bottom: 5px;
}

/* BUTTON */

.button--answer {
  float: right;
}

.ui.primary.button {
  background-color: var(--primary-color);
}

.ui.primary.button:hover {
  background-color: var(--primary-color-hover);
}

/* TODO: Make lighter */
.ui.primary.button:active,
.ui.primary.button:focus {
  background-color: var(--primary-color-hover);
}

/* EXPERT PROFILE */

.ui.container {
  margin-top: 30px;
}

.dropdown--date {
  float: right;
  margin: 0.78571429em;
}

.ui.label {
  background-color: transparent;
  border: 1px solid #e0e0e0;
}
